/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-jul-2018, 12:54:47
    Author     : Kepa
*/

.lineaFormulario{
    width: 100%;
    clear: both;
    padding-top: 5px;
}

.legendRojo{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(231, 037, 018);
    font-weight: bold;
    text-align: center;
}

.textoAzul {
    color: #2d4c9f;
}

.textoRojo {
    color: red;
}

.deshabilitado{
	background-color:#E6E6E6;
}



