<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
 
    <!-- Logging Properties -->
    <Properties>
        <Property name="GENERAL_LOG_PATTERN">[%d{dd MMM HH:mm s,SSS}] %5p - (%F:%L) - %m%n</Property>
        <Property name="AUDIT_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss};%m%n</Property>
        <Property name="APP_LOG_ROOT">/datos/LAN06/logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${GENERAL_LOG_PATTERN}"/>
        </Console>
        
		<!--Rolling file appender-->
        <RollingFile name="RollingFile" fileName="${APP_LOG_ROOT}/flexia_debug.log"
                     filePattern="${APP_LOG_ROOT}/flexia_debug-%d{yyyy-MM-dd}.log.%i">
            <PatternLayout pattern="${GENERAL_LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="8MB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>

		<!--Rolling file appender auditoria-->
        <RollingFile name="AuditAccesos" fileName="${APP_LOG_ROOT}/auditoria/flAuditoria.log"
                                filePattern="${APP_LOG_ROOT}/auditoria/flAuditoria-%d{yyyy-MM-dd}.%i.log.zip">
            <PatternLayout pattern="${AUDIT_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="15MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
		
		<!--Rolling file appender batch técnico referencia-->
		<RollingFile name="BatchTecnicos" fileName="${APP_LOG_ROOT}/BatchTecnicoReferencia.log"
                                filePattern="${APP_LOG_ROOT}/BatchTecnicoReferencia-%d{yyyy-MM-dd}.%i.log.zip">
            <PatternLayout pattern="${GENERAL_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

		<!--Rolling file appender batch inicio AERTE-->		
		<RollingFile name="BatchAerte" fileName="${APP_LOG_ROOT}/BatchInicioExpedientesAERTE.log"
                                filePattern="${APP_LOG_ROOT}/BatchInicioExpedientesAERTE-%d{yyyy-MM-dd}.%i.log.zip">
            <PatternLayout pattern="${GENERAL_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

		<!--Rolling file appender batch RGI-->		
		<RollingFile name="BatchRGI" fileName="${APP_LOG_ROOT}/BatchRGI.log"
                                filePattern="${APP_LOG_ROOT}/BatchRGI-%d{yyyy-MM-dd}.%i.log.zip">
            <PatternLayout pattern="${GENERAL_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>
        
        <!--Rolling file appender batch FSE-->		
		<RollingFile name="InteropJOBS" fileName="${APP_LOG_ROOT}/InteropJOBS.log"
                                filePattern="${APP_LOG_ROOT}/InteropJOBS-%d{yyyy-MM-dd}.%i.log.zip">
            <PatternLayout pattern="${GENERAL_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="es.altia.common.service.auditoria" level="INFO" additivity="false">
            <AppenderRef ref="AuditAccesos"/>
        </Logger>
		<Logger name="es.altia.flexia.terceros.integracion.batch.ProcesoAsignacionTecnicoReferenciaJob" level="DEBUG" additivity="false">
            <AppenderRef ref="BatchTecnicos"/>
        </Logger>
		<Logger name="es.altia.flexia.integracion.moduloexterno.melanbide77.job.InicioAutomaticoExpedientesAERTEJob" level="DEBUG" additivity="false">
            <AppenderRef ref="BatchAerte"/>
        </Logger>
		<Logger name="es.altia.flexia.integracion.moduloexterno.melanbide_interop.jobs" level="DEBUG" additivity="false">
            <AppenderRef ref="InteropJOBS"/>
        </Logger>
        <Logger name="es.altia.flexia.integracion.moduloexterno.melanbide43.job.AbrirExpedientesPlateaJob" level="DEBUG" additivity="false">
            <AppenderRef ref="BatchRGI"/>
        </Logger>
        <Logger name="es.altia.flexia.integracion.moduloexterno.melanbide43.job.RGIIMVNotificarJob" level="DEBUG" additivity="false">
            <AppenderRef ref="BatchRGI"/>
        </Logger>
        <Logger name="es.altia.flexia.integracion.moduloexterno.melanbide43.job.IMVNotificarJob" level="DEBUG" additivity="false">
            <AppenderRef ref="BatchRGI"/>
        </Logger>
        <Logger name="es.altia.flexia.integracion.moduloexterno.melanbide43.job.RGIActualizarDocumentoJob" level="DEBUG" additivity="false">
            <AppenderRef ref="BatchRGI"/>
        </Logger>
        <Logger name="es.altia.flexia.integracion.moduloexterno.melanbide43.dao.RGI_JobDAO" level="DEBUG" additivity="false">
            <AppenderRef ref="BatchRGI"/>
        </Logger>
        <Logger name="es.altia.flexia.integracion.moduloexterno.melanbide43.util.RGI_IMV_JobUtils" level="DEBUG" additivity="false">
            <AppenderRef ref="BatchRGI"/>
        </Logger>
        <Logger name="org.apache.commons" level="INFO"/>
        <Logger name="org.pdfbox" level="WARN"/>
        <Logger name="weblogic.kernel" level="ERROR"/>
        <Logger name="org.apache.struts.util.GenericDataSource" level="WARN"/>
        <Logger name="org.apache.struts.util.PropertyMessageResources" level="WARN"/>
        <Logger name="org.apache" level="ERROR"/>
        <!--Trazas de la librería jasperreports-->
        <Logger name="net.sf.jasperreports" level="info"/>
        <Logger name="org.w3c" level="info"/>

        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>