.lineaFormulario{
    width: 100%;
    clear: both;
    padding-top: 5px;
}

.botonera{
    clear: both;
    text-align: center;
}

/*estilo de la imagen que sale cuando se esta esperando la recarga de una pagina*/
div#barraProgreso {
    position: fixed;
    top:0px; 
    left:0px; 
    width:100%; 
    height:100%;
    z-index:9999; 
    background-color: rgba(0, 0, 0, .25);
    overflow:hidden; 
}
.legendRojo{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(231, 037, 018);
    font-weight: bold;
    text-align: left;
}
.textoAzul{
    color: #4B95D3;
}

.legendAzul{
    font-family: Arial,Verdana Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(43, 98, 181);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.textoRojo {
    color: red;
}

.deshabilitado{
    background-color:#E6E6E6;
}
